// header
.header-menu-wrap {
    @include center-flex;
    flex-wrap: wrap;
    grid-gap: 2vw;
    color: #fff;

    .menu-link {
        position: relative;

        a {
            @include adaptiv-font(18, 14);
        }

        &.active {

            &:after {
                content: '';
                width: 20px;
                background-color: #00A2F2;
                position: absolute;
                bottom: -5px;
                left: 50%;
                transform: translateX(-50%);
                transition: 0.2s;
            }

            a {
                font-weight: bold;
            }
        }

        &:hover {
            &:after {
                width: 100%;
                transition: 0.2s;
                background-color: #fff;
            }
        }
    }
}





.menu-button {
    position: fixed;
    z-index: 3;
    right: 30px;
    top: 30px;
    border-radius: 50%;
    border: unset;
    width: 60px;
    height: 60px;
    background: transparent;
    padding: 3px;
    overflow: hidden;
    cursor: pointer;

    .beforeButton {

        display: flex;
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        padding: 3px;
        border-radius: 50%;
        left: 0;
        top: 0;
        box-sizing: border-box;
    }

    .afterButton {
        content: "";
        border: 3px solid transparent;
        transition: 0.2s;
        display: flex;
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        left: 0;
        top: 0;
        box-sizing: border-box;
    }

    &:hover {
        background-color: unset;
    }

    .line {
        display: flex;
        width: 20px;
        height: 2px;
        position: relative;
        transition: background-color 0.2s;

        .beforeLine {
            position: absolute;
            top: -7px;
            left: 0;
            width: 100%;
            display: block;
            height: 2px;
            transition: 0.2s;
        }

        .afterLine {
            position: absolute;
            bottom: -7px;
            left: 0;
            width: 100%;
            display: block;
            height: 2px;
            transition: 0.2s;
        }
    }




    &.show {
        .line {
            background-color: transparent !important;

            .afterLine {
                transform: rotate(-45deg);
                transition: 0.2s;
                bottom: 0;
            }

            .beforeLine {
                transform: rotate(45deg);
                transition: 0.2s;
                top: 0;
            }
        }
    }
}

.menu-wrap {
    position: fixed;
    right: 0;
    transition: 0.5s;
    transform: translateX(200%);
    z-index: 1;
    padding: 100px 58px;
    min-height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    // background: #000;
}

.menu {
    display: flex;
    flex-direction: column;

}

.menu-wrap.show {
    transform: translateX(0%);
    transition: 0.5s;
    z-index: 2;
    // -webkit-box-shadow: -50px 0px 80px 81px rgba(0, 0, 0, 1);
    // -moz-box-shadow: -50px 0px 80px 81px rgba(0, 0, 0, 1);
    // box-shadow: -50px 0px 80px 81px rgba(0, 0, 0, 1);
}

.menu__link {
    margin-bottom: 1.5vw;
    text-align: right;
    position: relative;
    padding-right: 3vw;

    &:after {
        content: '';
        width: 4px;
        height: 1.4vw;
        background-color: #812C0D;
        transition: 0.2s ease-in-out;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%)
    }

    &:hover:after {
        background-color: #fff;
        transition: 0.2s ease-in-out;
    }

    a {
        text-align: right;

        color: $main-color;
        @include adaptiv-font(18, 14);
        position: relative;
        width: fit-content;

        &:hover:before {
            width: 100%;
            right: unset;
            left: 0;
            transition: 0.2s ease-in-out;
        }

        &:before {
            content: '';
            width: 0;
            height: 2px;
            position: absolute;
            bottom: -5px;
            right: 0;
            background-color: #fff;
            transition: 0.2s ease-in-out;
        }


    }

}

.menu__link.active {


    &:after {
        background-color: #fff;
    }

    a {
        @include adaptiv-font(22, 16);
    }
}