.social-block 
    a(href="facebook.com")
        i.fa-brands.fa-facebook-f 
    a(href="youtube.com")
        i.fa-brands.fa-youtube
    a(href="insatagram.com")
        i.fa-brands.fa-instagram
    a(href="linkedin.com")
        i.fa-brands.fa-linkedin