p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    -webkit-appearance: none;
    @include btn;

}

input,
textarea,
select {}

.section {
    // min-height: 100vh;
    min-height: 720px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 1;
    visibility: hidden;
    transition: 2.2s;
    position: relative;
    z-index: -1;
}

.section.active {
    opacity: 1;
    transition: 0.5s;
    z-index: 1;
    visibility: visible;
}

h2 {
    font-weight: 300;
    @include adaptiv-font(54, 18)
}



.c-text {
    text-align: center;
}

.l-text {
    text-align: left;
}

.r-text {
    text-align: right;
}

.m-a {
    margin: 0 auto;
}




.swiper-container {
    overflow: hidden;
    height: fit-content;
    position: relative;
    padding: 2.5rem 0;
}



.bounce-text {
    // opacity: 0;
}

.layer {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px) opacity(0);
    transition: 0.5s;
    transform: rotateY('0');
}

.layer.show {
    z-index: 1;
    opacity: 1;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px) opacity(1);
    transition: 0.5s;
    transform: rotateY('180deg');
}

.social-block {
    margin-top: auto;
    grid-gap: 10px;
    flex-wrap: wrap;
    color: #fff;
    @include center-flex;

    a {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #fff;
        @include center-flex;

        i {
            color: #fff;
        }
    }
}

@media screen and (min-width: 768px) {



    .section.active {
        min-height: 100vh;
    }
}