//fonts
$main-font: 'Poppins';
$second-font: 'Poppins';
$third-font: 'Poppins';



// colors
$main-color: #fff;
$second-color: yellow;
$button-color: #fff;
$hover-color: #000;
$hover-text: #ccc;

$text-color: #000;


$blue-color: #0070D8;

$orange-color: #FF5F10;
$hover-button-color: #ff9710;