section(id='blog' class="section" data-num='6' data-color-bg="#000" data-animation-color="white" data-color-icon="#fff")
    .container
        .inner-container.c-text
            h2.bounce-text !{"blog"}