section(id='main'  class="active section" data-num='0' data-color-bg="#0070D8" data-color-icon="#FFF" data-animation-color="white")
    .container
        .inner-container.c-text
            h2.bounce-text !{'Powered by'}
            .horizontal-arrows 
                include ../../icons/arrows.pug
            include ../../icons/geeks.pug
            p.bounce-text !{''}
            button.m-a.bounce-text !{"Visit portfolio"}