section(id='partners' class="section" data-num='5' data-color-bg="#FF5F10" data-color-icon="#fff" data-animation-color="white" )
    .container
        .inner-container.c-text
            h2.bounce-text !{"partners"}
