section(id='portfolio'  class="section" data-num='1' data-color-bg="#000"  data-animation-color="orange" data-color-icon="#FF5D09")
    .container
        .inner-container.c-text
            h2.bounce-text 
                .thin-subtitle !{"Selected"}
                .thin-subtitle.big-font !{"Work"}
            p.bounce-text !{'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, culpa!'}
            button.m-a.bounce-text !{"Visit portfolio"}