section(id='main'  class="orange-menu active section" data-num='0')
    .container
        .inner-container.c-text
            h2.bounce-text 
                .thin-subtitle !{"Selected"}
                .thin-subtitle.big-font !{"Work"}
            p.bounce-text !{'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, culpa!'}
            button.m-a.bounce-text !{"Visit portfolio"}