svg(class="menuSvg" width='60' height='60')
    circle( class="menuSvg__circle" cx='30' cy='30' r='28' stroke='#fff' stroke-width="2" fill="transparent")
svg(class="menuSvg2" width='60' height='60')
    circle( class="menuSvg__circle2" cx='30' cy='30' r='28' stroke='#fff' stroke-width="2" fill="transparent")
svg(class="menuSvg3" width='60' height='60')
    circle( class="menuSvg__circle3" cx='30' cy='30' r='28' stroke='#fff' stroke-width="2" fill="transparent")