html(lang="ru")
    append vars
        - currentPage = 'index'
    include ../common/head.pug 
    body
        .arrows-vert-left.arrows-vertical
            include ../icons/arrows-vert.pug
        .arrows-vert-right.arrows-vertical
            include ../icons/arrows-vert.pug

    
        include ../common/nav.pug
        div(id="fullpage")
            include ../blocks/main/main.pug
            include ../blocks/main/portfolio.pug
            include ../blocks/main/posts.pug
            include ../blocks/main/services.pug
            include ../blocks/main/reviews.pug
            include ../blocks/main/partners.pug
            include ../blocks/main/blogs.pug
        .layer
            //- scripts
            include ../common/scripts.pug 






