html(lang="ru")
    append vars
        - lang = "en"
        - currentPage = 'services'
    include ../common/head.pug 
    body
        .arrows-vert-left.arrows-vertical
            include ../icons/arrows-vert.pug
        .arrows-vert-right.arrows-vertical
            include ../icons/arrows-vert.pug

        include ../common/nav.pug
        div(id="fullpage")
            h1 !{'Services'}
        .layer
            //- scripts
            include ../common/scripts.pug 






